<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownhook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                    <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                    <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <File name="Requests" fileName="logs/requests.log" immediateFlush="false" bufferSize="10000000" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %m%n"/>
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <File name="Errors" fileName="logs/error.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %m%n"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Requests"/>
            <AppenderRef ref="Errors"/>
            <AppenderRef ref="Debug"/>
        </Root>
    </Loggers>
</Configuration>