<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                    <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                    <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
        <File name="Requests" fileName="logs/requests.log" immediateFlush="false" bufferSize="8388608" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %m%n"/>
            <LevelRangeFilter minLevel="TRACE" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>        
        </File>

        <File name="asdf" fileName="logs/info.log" immediateFlush="false" bufferSize="8388608" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %m%n"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>        
        </File>
        <File name="Errors" fileName="logs/error.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %m%n"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Requests"/>
            <AppenderRef ref="Errors"/>
        </Root>
    </Loggers>
</Configuration>